<!-- CUSTO -->
<style>
    .main-footer__badge {
        display: block;
        width: 200px;
    }
    .highligted-content-banner a.external-link-container { color:white; text-decoration:underline; }
    </style>
    <!-- Slick - Standard -->
    
    <!-- GOOGLE FONTS --->
    <!-- Go to https://fonts.google.com/ and copy paste the <link> section it provides for the font you want to import  --->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- CSS TEMPLATE -->
    <style>
    /* -- CODE -- */
    /*-- HOME PAGE --*/
    
    .home-section:nth-of-type(2n + 1) {
        background-color: var(--homepage_section_background_color);
    }
    
    /*-- RESPONSIVE YOUTUBE IFRAME--*/
    /* This class was created for youtube video embed on the home page using the html home page block. Make sure to encapsulate your youtube iframe with a div
    <div class="responsive-youtube-iframe">
    <iframe width="966" height="543" src="https://www.youtube.com/embed/example" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br>
    <div>
    */
    .responsive-youtube-iframe {
        position: relative;
        padding-bottom: 56.10%;
        height: 0;
        overflow: hidden;
    }
    .responsive-youtube-iframe iframe,
    .responsive-youtube-iframe object,
    .responsive-youtube-iframe embed {
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    /* GLOBAL */
    
    /* TOGGLE SWITCH */
    .switch-paddle {
        background-color: #cccccc;
    }
    
    span.switch-paddle:focus {
        outline: dotted 1px var(--highlight-alternative);
    }
    
    /* INPUTS */
    input#input-search::placeholder,
    textarea::placeholder {
        color: #999999;
    }
    
    input[type="checkbox"]:focus,
    input[type="radio"]:focus {
        outline: 1px dotted var(--highlight-alternative);
    }
    
    .switch input.switch-input:active + .switch-paddle, .switch input.switch-input:focus + .switch-paddle {
        outline: dotted;
        outline-color: var(--highlight-alternative);
    }
    
    /* FONTS */
    
    body {
        font-family: var(--font_content);
        font-weight: normal;
    }
    
    .logo-wrapper {
        font-family: var(--font_title);
        font-weight: bold;
    }
    
    .main-nav {
        font-family: var(--font_title);
        font-weight: bold;
    }
    
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    .heading4 {
        font-family: var(--font_title);
        font-weight: bold;
    
    }
    
    .footer__subhero {
        font-family: var(--font_content);
    }
    
    .card__title,
    .home-pam__title {
        font-family: var(--font_content);
        font-weight: bold;
    }
    
    .home-pam__number {
        font-family: var(--font_title);
        font-weight: bold;
    }
    
    .footer__subhero {
        font-family: var(--font_content);
    }
    
    /* HEADER */
    .title-bar {
        background-color: var(--header_background);
        padding: var(--header_padding);
    }
    
    .topbar__search input {
        background-color: var(--header_search_background);
        border-radius: var(--button_radius) 0 0 var(--button_radius) !important;
    }
    
    
    .logo-wrapper span,
    .topbar__dropmenu > ul > li > a,
    .topbar__admin__link a,
    .dropdown.menu > li.is-active > a,
    .topbar__admin__link a:hover,
    .topbar__user__login a,
    .main-nav__link--active a,
    .main-nav__link a,
    .main-nav__link a:hover {
        color: var(--header_color);
    }
    .main-nav__link--active a,
    .main-nav__link a,
    .main-nav__link a:hover {
        color: var(--header_secondary_color)
    }
    
    .logo-wrapper span::before {
        border-left: 4px solid var(--header_color);
    }
    
    .topbar__dropmenu > ul > li > a::after {
        border-top-color: var(--header_color) !important;
    }
    
    .topbar__notifications .icon, .topbar__conversations .icon {
        fill: var(--header_color);
        opacity: 1;
    }
    
    .topbar__search:not(:focus-within) button {
        background: var(--header_search_button_background);
        color: var(--header_search_button_color);
        border-radius: 0 var(--button_radius) var(--button_radius) 0;
    }
    
    .topbar__search:focus-within button {
        border-radius: 0 var(--button_radius) var(--button_radius) 0;
    }
    
    
    .title-bar a:focus, .title-bar .button:focus {
        border-radius: 0 var(--button_radius) var(--button_radius) 0;
    }
    
    .navbar {
        background-color: var(--header_navbar_background);
    }
    
    .main-nav__link--active a {
        box-shadow: inset 0 4px 0 0 var(--header_navbar_border);
    }
    
    .main-nav__link a:focus {
        color: var(--header_secondary_color);
    }
    
    input#term::placeholder {
        color: #2c2930;
    }
    
    .topbar__search:focus-within input {
        background-color: var(--header_search_background);
        border-radius: var(--button_radius) 0 0 var(--button_radius) !important;
    }
    
    a.topbar__notifications:hover,
    a.topbar__conversations:hover {
        text-decoration: none;
        border-bottom: solid 1px;
    }
    
    .off-canvas .close-button {
        color: var(--primary);
    }
    
    @media screen and (max-width: 640px) {
        /* MOBILE HEADER NAV */
        a#language-chooser-control {
            filter: brightness(0) invert(1);
        }
    
        .topbar__menu button {
            color: var(--primary);
        }
    
        .usermenu-off-canvas-holder
        .usermenu-off-canvas a {
            color: rgba(255,255,255,0.75);
        }
    
        .topbar__user__login.js-append a {
            color: #ffffff;
        }
    
        a.sign-up-link:focus,
        a.sign-in-link:focus {
            outline-color: var(--highlight-alternative);
        }
    }
    
    /* CALLOUTS */
    .callout {
        border-left: 0 !important;
    }
    
    /* CARDS */
    .card,
    .comment-thread,
    .message,
    .add-message,
    .conference-speaker .speaker-bio,
    .conference-registration,
    .chart-tooltip {
        border: var(--card_border);
        background: var(--card_color);
        box-shadow: var(--card_shadow);
        border-radius: var(--card_radius);
        border-bottom:var(--card_border_bottom_color);
    }
    
    
    .card--hover:hover {
        transform: scale(1.05) !important;
    }
    
    .card__footer {
        background-color: var(--card_footer_background);
        border-bottom-left-radius: var(--card_radius);
        border-bottom-right-radius: var(--card_radius);
    }
    .card__top {
        background-color: var(--card_top_background);
        border-top-left-radius: var(--card_radius);
        border-top-right-radius: var(--card_radius);
    }
    
    .topbar__search input,
    .topbar__search button,
    
    .process-phase,
    .budget-list__item:first-child,
    .budget-list__item:last-child,
    
    select, .inline-filters button[data-toggle],
    [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'] {
        border-radius: var(--button_radius);
    }
    
    textarea {
        border-radius: var(--card_radius);
    }
    
    .input-group > :first-child.input-group-button > *,
    .input-group > :last-child, .input-group > :last-child.input-group-button > * {
        border-radius: 0 var(--button_radius) var(--button_radius) 0;
    }
    
    
    .input-group > :first-child > #input-search,
    .input-group > :first-child
     {
        border-radius: var(--button_radius) 0 0 var(--button_radius);
    }
    
    .card__image-top {
        border-radius: var(--card_radius) var(--card_radius) 0 0;
    }
    
    .card--full__image {
        border-radius: 0 var(--card_radius) var(--card_radius) 0;
    }
    
    .card__image, .badge-container .badge__logo, .badge-container .badge__logo--small {
        border-radius: var(--card_radius) var(--card_radius) 0 0;
    }
    
    .register-form .tos-text,
    .process-header__phase,
    .add-comment,
    .callout {
        border-radius: var(--card_radius);
    }
    
    input#filter_search_text,
    input#filters_64066f58-bba5-48d8-a1b1-f42807a17a73_filter_search_text {
        border-radius: var(--button_radius) 0 0 var(--button_radius);
    }
    
    input[title=search] {
        border-radius: var(--button_radius) 0 0 var(--button_radius) !important;
    }
    
    
    /* CARDS - SUIVI */
    .accountability .categories .categories--group .card__link .category--line {
        background-color:rgba(var(--secondary-rgb), 0.125)
    }
    
    .accountability .categories a:hover {
        background-color: transparent;
        text-decoration: none;
    }
    
    .accountability .categories .categories--group .card__link:hover strong {
        color: #000000;
    }
    
    .accountability .categories .categories--group .card__link .category--line .category--count,
    .accountability .categories .categories--group .card__link:hover .category--count {
        color: #aba5b3
    }
    
    /* CARDS - BUDGET */
    .budget-list__item:first-child {
        border-radius: var(--card_radius) var(--card_radius) 0 0 !important;
    }
    
    .budget-list__item:last-child {
        border-radius: 0 0 var(--card_radius) var(--card_radius) !important;
    }
    
    .budget-list__data {
        min-width: 225px;
    }
    
    /* BUTTONS */
    .button {
        border-radius: var(--button_radius);
    }
    
    .button--shadow.secondary {
        background-color: var(--secondary);
    }
    
    .subhero-cta {
        color: var(--secondary) !important;
    }
    
    .button.muted,
    .button.muted:hover {
        background-color: rgba(var(--primary-rgb), .125);
        color:#726a70;
    }
    
    .data-picker.picker-single .picker-values div a, .data-picker .picker-prompt a {
        border-radius: var(--button_radius);
    }
    
    .comment__votes--up,
    .comment__votes--down {
        cursor: pointer;
    }
    
    .comment__votes--up:focus,
    .comment__votes--down:focus {
        background: transparent !important;
    }
    
    .dropdown.menu > li > a {
        background-color: transparent;
    }
    
    /* FILTERS */
    .filters__search input {
        background: var(--header_search_background);
        border: solid 1px var(--header_search_background);
    }
    
    .filters__search input::placeholder {
        color: #2c2930;
    }
    
    /* LINKS */
    a,
    .link,
    .link:hover,
    .link-alt,
    .link-alt:hover,
    .muted-link:hover,
    .card__link,
    .card__link:hover,
    .topbar__dropmenu .is-dropdown-submenu li a,
    .topbar__notifications__item strong,
    .topbar__notifications__item--more,
    .side-panel__tabs .tabs-title>[role=tab]:hover,
    .side-panel__tabs .tabs-title>a:hover,
    .side-panel__tabs .tabs-title.is-active>[role=tab],
    .side-panel__tabs .tabs-title.is-active>a,
    .static-nav a:hover,
    .flag li a,
    .author-data .author__name,
    .order-by__tab.is-active,
    .input__tag span,
    .mentions__container .tribute-container,
    .hashtags__container .tribute-container,
    #profile-tabs.tabs .tabs-title a,
    .inline-filters button[data-toggle],
    .conference-programme .programme-title,
    .conference-media .media-links li,
    .results-per-page__tab.is-active,
    .results-per-page__tab.is-active,
    .comment__reply.muted-link,
    .comment__reply[data-toggle].muted-link,
    .dropdown.menu>li.is-active>a .accountability .categories .categories--group .card__link .category--line strong,
    .initiative-types-select option {
        color: var(--link_color);
    }
    
    .pagination .current,
    .comment__votes button:focus,
    .add-comment a:focus,
    .unread_message__counter,
    .opinion-toggle--meh:hover,
    .opinion-toggle--meh:focus,
    .opinion-toggle--meh.is-active,
    .help .icon:hover,
    .help-tooltip,
    .card--list__titled-text .card--list__counter,
    .card--list__author .card--list__counter {
        background: var(--link_color);
    }
    
    .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right>a::after,
    .drilldown.align-left .is-drilldown-submenu-parent>a::after,
    .drilldown.align-right .is-drilldown-submenu-parent>a::after,
    .dropdown.menu.smallmedium-vertical>li.opens-right>a::after,
    .dropdown.menu.mediumlarge-vertical>li.opens-right>a::after,
    .dropdown.menu.medium-vertical>li.opens-right>a::after,
    .dropdown.menu.large-vertical>li.opens-right>a::after,
    .dropdown.menu.vertical>li.opens-right>a::after {
        border-color: transparent transparent transparent var(--link_color);
    }
    
    .dropdown.menu>li.is-dropdown-submenu-parent>a::after,
    .dropdown.menu.smallmedium-horizontal>li.is-dropdown-submenu-parent>a::after,
    .dropdown.menu.mediumlarge-horizontal>li.is-dropdown-submenu-parent>a::after,
    .dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a::after,
    .dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
        border-color: var(--link_color) transparent transparent;
    }
    
    .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left>a::after,
    .dropdown.menu.vertical>li.opens-left>a::after,
    .dropdown.menu.smallmedium-vertical>li.opens-left>a::after,
    .dropdown.menu.mediumlarge-vertical>li.opens-left>a::after,
    .dropdown.menu.large-vertical>li.opens-left>a::after,
    .dropdown.menu.medium-vertical>li.opens-left>a::after {
        border-color: transparent var(--link_color) transparent transparent;
    }
    
    .card--list__icon,
    .card--list__data__icon:hover .icon,
    .card--list__data__icon--lg:hover .icon,
    .orgchart .as-text,
    .budget-list__data__icon:hover .icon,
    .result-view .title .icon {
        fill: var(--link_color);
    }
    
    .lines-breadcrumb a:focus {
        outline: var(--link_color);
    }
    
    
    /* LINK UNDERLINE */
    a:hover, a.card__title:hover, a .card__title:hover, .card__link:hover {
        text-decoration: var(--link_underline);
    }
    
    
    /* NUMBERS */
    .home-pam__highlight .home-pam__number,
    .accountability .intro .progress-level .progress-figure,
    .progress__bar.progress__bar--vertical .progress__bar__number {
        text-shadow: var(--stats_text_shadow);
        color: var(--primary);
    }
    
    .accountability .intro .progress-level .progress-figure {
        color: #3d393c;
        font-weight: bold;
    }
    
    .process-stats__data::after {
        border-color: var(--process_stats_separator_color);
    }
    .space-stats__data::after {
        border-left-color: var(--process_stats_separator_color);
    }
    .home-pam__highlight .home-pam__data {
      border-color: var(--homepage_stats_border_color);
    }
    
    @media screen and (max-width: 640px) {
        .statistics-cell .statistic__data {
            width: 100%;
        }
        .home-stats__highlight .statistic__data {
            border-bottom: 1px solid #e8e8e8;
        }
        .home-stats__highlight .statistic__data:nth-child(odd) {
            border-right: none;
        }
    }
    
    
    /* FOOTER */
    .main-footer {
        background-color: var(--footer_background);
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .main-footer a,
    .main-footer {
        color: var(--footer_color);
    }
    
    .main-footer a:hover {
        color: var(--footer_color);
    }
    
    .mini-footer a,
    .mini-footer,
    .mini-footer .row .mf-text a:hover {
        color: var(--mini_footer_color);
    }
    .mini-footer {
        background-color: var(--footer_mini_background);
    }
    
    .mini-footer .row .decidim-logo,
    .cc-badge:nth-child(2) {
        filter: var(--credits_filter_color);
    }
    
    /* ICONS */
    .home-bullet__icon svg {
        fill: var(--icon_color);
    }
    
    /* PAGE - HOME */
    .hero::after {
        background-color: rgba(26, 24, 29, 0.35);
    }
    
    /* PAGE - CONCERTATIONS */
    .process-nav__more:hover i,
    .process-nav__more:focus i {
        background-color: white;
    }
    
    .process-header__main::after {
        background-color: rgba(26, 24, 29, 0.2);
    }
    
    /* PAGE - BUDGET */
    .budget-list__data {
        flex-basis: unset;
    }
    </style>
    <style>
      /* -- FONT -- */
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
      /* -- VARIABLES -- */
      /* Change the variable values to customize your theme  */
      /* In Decidim admin you can select colors for your organization. You can pass these colors as variable values below by writing "var(--primary);" or "var(--secondary);" */
      :root {
          /* FONTS */
          --font_title: 'Montserrat'; /* for titles (h1, h2 etc.) don't forget to write the font name (google or custom) in order for it to apply. */
          --font_content: 'Montserrat'; /* for paragraphs don't forget to write the font name (google or custom) in order for it to apply. */
    
          /* NAV BAR  */
          /* Primary (the one with the user menu)  */
          --header_background: #ffffff; /* color of the primary navbar */
          --header_search_background: #f0f0f0; /* color of the search box */
          --header_search_button_background: #3d393c; /* color of the button containing the magnifying glass icon */
          --header_search_button_color: #ffffff; /* color of the magnifying glass icon */
          --header_color: #3d393c; /* font color for the primary navbar */
          --header_padding: 2rem 1rem; /* header height */
    
          /* Secondary (the one with the tabs)  */
          --header_navbar_background: #f0f0f0; /* color of the secondary navbar */
          --header_navbar_border: #3d393c; /* color of the top border when selected */
          --header_secondary_color: #3d393c; /* font color for the secondary navbar */
    
          /* FOOTER */
          /* Links bar (containing all the links to static pages) */
          --footer_background: #ffffff; /* color of the 1st part of the footer */
          --footer_color: #3d393c; /* font color for the 1st part of the footer */
    
          /* Mini footer (with the decidim credit) */
          --footer_mini_background: #f0f0f0; /* color of the 2nd part of the footer */
          --mini_footer_color: #3d393c; /* font color for the 2nd part of the footer */
          --credits_filter_color: invert(22%) sepia(6%) saturate(362%) hue-rotate(263deg) brightness(40%) contrast(94%); /* Color of the creative commons logo and decidim logo. When using a light color for the background uncomment the variable to change the color of the icons   */
    
          /* BUTTONS  */
          --button_radius: 5px; /* Button shape > 0 round, 0 = rectangular */
    
          /* CARDS  */
          --card_border: 0px;
          --card_radius: 0px; /* Card shape > 0 round, 0 = rectangular */
          --card_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          --card_color: #ffffff; /* background color for cards /!\ leave white /!\ */
          --card_footer_background: #ffffff; /* background color for the bottom part for card containing the "vote" / "view proposal" button */
          --card_top_background: #ffffff; /* background color for the top part of the card, this part is displayed on the /search page*/
          --card_border_bottom_color: var(--primary) solid 3px; /* adds a color bar to the bottom of all cards */
    
          /* LINKS */
          --link_color: var(--primary); /* font color for all links */
          --link_underline: underline; /* replace "none" with "underline" to have all links underlined on mouse hover */
    
          /* STATS */
          --stats_text_shadow: ; /* shadow of the stats numbers */
          --process_stats_separator_color : var(--secondary); /* color of the bar between numbers at the bottom of the process page */
    
    
          /* HOMEPAGE */
          --icon_color: var(--primary); /* colors for the icon in the "How to participate"homepage section */
          --homepage_section_background_color: ; /* background color of every n+2 section on the homepage */
          --homepage_stats_border_color: #e8e8e8; /* color of the slim line seperating the blocks  */
    
      }
    </style>
    
    
    <!--Disable Decidim's default cookie banner-->
    <style type="text/css" media="screen">
      .cookie-warning { display: none; }
    </style>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        var cookiebanner_decidim = document.querySelector('.cookie-warning');
        if (cookiebanner_decidim != undefined && cookiebanner_decidim != null) {
          cookiebanner_decidim.parentElement.removeChild(cookiebanner_decidim);
        }
      });
    </script>
    <!--End Disable Decidim's default cookie banner-->
    
    <!-- TARTE AU CITRON COOKIE -->
    
    <script type="text/javascript" src="https://tarteaucitron.io/load.js?domain=budgetparticipatif.bordeaux-metropole.fr&uuid=591090037b3bd26934cd5b622f39084ab72e9b05"></script>
    