@font-face {
    font-family: 'ES Rebond Grotesque';
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Bold.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Bold.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Bold.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Bold.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Bold.svg#ESRebondGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque';
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-BoldItalic.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesque-BoldItalic.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-BoldItalic.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-BoldItalic.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-BoldItalic.svg#ESRebondGrotesque-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque';
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-MediumItalic.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesque-MediumItalic.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-MediumItalic.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-MediumItalic.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-MediumItalic.svg#ESRebondGrotesque-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque';
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Medium.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Medium.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Medium.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Medium.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Medium.svg#ESRebondGrotesque-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque';
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Light.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Light.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Light.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Light.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Light.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Light.svg#ESRebondGrotesque-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque';
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Italic.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Italic.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Italic.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Italic.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Italic.svg#ESRebondGrotesque-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque';
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-LightItalic.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-LightItalic.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-LightItalic.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-LightItalic.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-LightItalic.svg#ESRebondGrotesque-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque';
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Regular.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Regular.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Regular.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Regular.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/ESRebondGrotesque/ESRebondGrotesque-Regular.svg#ESRebondGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

