@font-face {
    font-family: 'OktaNeue';
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black.svg#OktaNeue-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OktaNeue';
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_1.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_1.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_1.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_1.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_1.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_1.svg#OktaNeue-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OktaNeue';
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_2.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_2.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_2.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_2.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_2.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_2.svg#OktaNeue-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OktaNeue';
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_3.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_3.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_3.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_3.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_3.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Black_3.svg#OktaNeue-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OktaNeue';
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold.svg#OktaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OktaNeue';
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_1.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_1.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_1.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_1.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_1.svg#OktaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OktaNeue';
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_2.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_2.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_2.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_2.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_2.svg#OktaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OktaNeue';
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_3.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_3.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_3.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_3.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_3.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/OktaNeue/OktaNeue-Bold_3.svg#OktaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

