/* -- VARIABLES -- */
/* Change the variable values to customize your theme  */
/* In Decidim admin you can select colors for your organization. You can pass these colors as variable values below by writing "var(--primary);" or "var(--secondary);" */
:root {
    /* FONTS */
    --font_title: 'OktaNeue'; /* for titles (h1, h2 etc.) don't forget to write the font name (google or custom) in order for it to apply. */
    --font_content: 'Montserrat', sans-serif; /* for paragraphs don't forget to write the font name (google or custom) in order for it to apply. */
}

/* FONTS */
body {
    font-family: var(--font_content);
    font-weight: normal;
}

.logo-wrapper {
    font-family: var(--font_title);
    font-weight: bold;
}

.main-nav {
    font-family: var(--font_title);
    font-weight: bold;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.heading4 {
    font-family: var(--font_title);
    font-weight: bold;

}

.footer__subhero {
    font-family: var(--font_content);
}

.card__title,
.home-pam__title {
    font-family: var(--font_content);
    font-weight: bold;
}

.home-pam__number {
    font-family: var(--font_title);
    font-weight: bold;
}

.footer__subhero {
    font-family: var(--font_content);
}
