<!--Tarte au citron-->
<script type="text/javascript" src="https://tarteaucitron.io/load.js?domain=destinations2026-sytral.fr&uuid=591090037b3bd26934cd5b622f39084ab72e9b05"></script>

<!--Disable Decidim's default cookie banner-->
<style type="text/css" media="screen">
  .cookie-warning { display: none; }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    const cookiebanner_decidim = document.querySelector('.cookie-warning');
    cookiebanner_decidim.parentElement.removeChild(cookiebanner_decidim);
  });
</script>
<!--End Disable Decidim's default cookie banner-->


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<style>
    :root {
    --font_title: 'Arimo', sans-serif;
    --font_content: 'Arimo', sans-serif;

    --button_radius: 0px;
    --card_radius: 0px;
    --numbers_color : #008C87;

    --header_background: #ffffff;
    --header_search_background: #f1f1f1;
    --header_search_button_background: #6D6F71;
    --header_search_button_color: #ffffff;
    --header_color: #6D6F71;
    --header_navbar_background: #f8f8f8;
    --header_navbar_border: #6D6F71;
    --card_radius: 0px;

    --footer_background: white;
    --footer_color: #6D6F71;
    --footer_mini_background: #f8f8f8;
}
@media only screen and (max-width: 500px) {
  .topbar__menu button{color:#000;}
  .topbar__user__login a{color:#fff;}
  .topbar__dropmenu>ul>li>a{color:#fff;}
  .off-canvas  .close-button {color: #000}
}

/* ----------------------------- */

/* FONTS */
body {
    font-family: var(--font_content);
    font-weight: normal;
}

.logo-wrapper {
    font-family: var(--font_title);
    font-weight: bold;
}

.main-nav {
    font-family: var(--font_title);
    font-weight: bold;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.heading4 {
    font-family: var(--font_title);
    font-weight: bold;

}

.footer__subhero {
    font-family: var(--font_content);
}

.card__title,
.home-pam__title {
    font-family: var(--font_content);
    font-weight: bold;
}

.home-pam__number {
    font-family: var(--font_title);
    font-weight: bold;
}

.footer__subhero {
    font-family: var(--font_content);
}


/* BUTTONS */
.button {
    border-radius: var(--button_radius);
}


/* HEADER */
.title-bar {
    background-color: var(--header_background);
}

.topbar__search input {
    background-color: var(--header_search_background);
}


.logo-wrapper span,
.topbar__dropmenu > ul > li > a,
.topbar__admin__link a,
.dropdown.menu > li.is-active > a,
.topbar__admin__link a:hover,
.topbar__user__login a,
.main-nav__link--active a,
.main-nav__link a,
.main-nav__link a:hover {
    color: var(--header_color);
}

.logo-wrapper span::before {
    border-left: 4px solid var(--header_color);
}

.topbar__dropmenu > ul > li > a::after {
    border-top-color: var(--header_color) !important;
}

.topbar__notifications .icon, .topbar__conversations .icon {
    fill: var(--header_color);
    opacity: 1;
}

.topbar__search:not(:focus-within) button {
    background: var(--header_search_button_background);
}

.topbar__search:not(:focus-within) button {
    color: var(--header_search_button_color);
}

.navbar {
    background-color: var(--header_navbar_background);
}

.main-nav__link--active a {
    box-shadow: inset 0 4px 0 0 var(--header_navbar_border);
}

input#term::placeholder {
    color: #2c2930;
}

/* CARDS */
.card,
.comment-thread,
.message,
.add-message,
.conference-speaker .speaker-bio,
.conference-registration,
.chart-tooltip {
    border-radius: var(--card_radius);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
}

/* NUMBERS */
.home-pam__highlight .home-pam__number {
    color: var(--numbers_color);
}

/* FOOTER */
.main-footer {
    background-color: var(--footer_background);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.main-footer a,
.mini-footer a,
.main-footer, .mini-footer {
    color: var(--footer_color);
}

.main-footer a:hover,
.mini-footer a:hover,
.mini-footer .row .mf-text a:hover {
    color: var(--footer_color);
}

.mini-footer {
    background-color: var(--footer_mini_background);
}

.mini-footer .row .decidim-logo,
.cc-badge {
    filter: invert(44%) sepia(9%) saturate(54%) hue-rotate(169deg) brightness(96%) contrast(88%);
}

/* ----------------------------- */

/* HERO */
section.extended.hero.home-section {
    background-position: center center;
}

/* CONTENT CUSTOMISATION */
#participatory-space-filters{display:none;}
#assemblies-filter{display:none;}

.hero::after{background-color: #fff;opacity: 0}

@media (max-width: 600px) {
    .topbar__user__login a {color: #ffffff;}
}


/* Footer Social */
.footer-social__icon {
    background-color: #6F198F;
    border-radius: 50%;
    padding: 5px;
}

.footer-social__icon .icon {
    filter: brightness(5);
    padding-top: 5px;
    transform: scale(1.2);
}

.footer-social li {
    padding-left: 0px;
}

ul.main__footer__social.footer-social {
    border-bottom: solid 10px #FB0000;
    padding-bottom: 5px;
}

/* Custos */
.card__title, .home-pam__title {
    text-align: center;
}
/*
.card__icondata ul li,
*/
.card__block ul li,
li.card-data__item.creation_date_status,
.card.extra.definition-data,
a.topbar__conversations {
    display: none;
}

ul.main__footer__social.footer-social {
    width: 121px;
}

ul.main__footer__nav.footer-nav {
    max-width: 942px;
}

.side-panel ul > li:nth-child(3) {display: none;}
.card-data__item.comments_count_status {display: none;}
.card--post > .card__content > .card__header > .card__author {display: none;}
.card.card--post > .card__content > .card__header > .author-data {display: none;}
.row.column.view-header > .author-data > .author-data__main {display: none;}

button.process-nav__more {
    min-width: 83px;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
@media print, screen and (min-width: 40em) {
    .process-nav ul {
        justify-content: flex-start;
    }
}
/* HIDE registration code */
.extra ~ .extra {
  display:none; 
}

</style>

<script>
    window.addEventListener("DOMContentLoaded", (event) => {
        let dropdown = document.querySelector('ul.dropdown')
        let subdropdown = dropdown.querySelector("ul")
        let line = subdropdown.querySelectorAll('li');
        let a = line[3]

        if (a.innerHTML.indexOf("Conversations") > 0) {
            a.style.display = "none";
        }
    });
</script>
