<script src="https://tarteaucitron.io/load.js?domain=parlonsensemble-cachan.fr&uuid=591090037b3bd26934cd5b622f39084ab72e9b05"></script>

<!--Disable Decidim's default cookie banner-->
<style type="text/css" media="screen">
  .cookie-warning { display: none; }
</style>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var cookiebanner_decidim = document.querySelector('.cookie-warning');
    if (cookiebanner_decidim != undefined && cookiebanner_decidim != null) {
      cookiebanner_decidim.parentElement.removeChild(cookiebanner_decidim);
    }
  });
</script>
<!--End Disable Decidim's default cookie banner-->

<style>
.hero::after{background-color: #FFFFF ;opacity: 0.0}
.hero-cta.button.expanded.large.button--sc{background-color: #dd1f33;}

.title-bar{background: #dd1f33 !important; padding: 1rem 5rem;}
.navbar {background:#dd1f33;}
.process-header__main::after{opacity: 1}


.main-nav__link a {color:#FFFFF ;font-weight: bold;}
.main-nav__link a:hover{color: #dbd8d9;}
.main-nav__link--active a{box-shadow: inset 0 4px 0 0}

.mini-footer {background-color: #dd1f33;border-top: 0.125rem solid #fff;}
.main-footer {background-color: #dd1f33;}
.footer-social__icon .icon{fill: white}
.footer-nav a {color: white}


</style>


</style>