<!-- Template Main  -->

<!-- ADOBE FONTS --->
<link rel="stylesheet" href="https://use.typekit.net/idc0mnc.css">
<!-- WEB ANIMATIONS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://templates.opensourcepolitics.net/templates/main/animations_main.js"></script>
<!-- TEMPLATE CSS -->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/templates/main/template_main.css">
<!-- CSSVariables --->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/clients/lyon/lyon.css">
<!-- <script src="https://templates.opensourcepolitics.net/clients/lyon/lyon.js"></script> -->
<!-- Tarte au citron -->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/templates/tarteaucitron.css">
<script src="https://templates.opensourcepolitics.net/templates/disable_decidim_cookies.js"></script>
<script src="https://tarteaucitron.io/load.js?domain=MyURL&uuid=591090037b3bd26934cd5b622f39084ab72e9b05"></script>
