/* -- FONT -- */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* -- VARIABLES -- */
/* Change the variable values to customize your theme  */
/* In Decidim admin you can select colors for your organization. You can pass these colors as variable values below by writing "var(--primary);" or "var(--secondary);" */
:root {
  /* FONTS */
  --font_title: "Nunito"; /* for titles (h1, h2 etc.) don't forget to write the font name (google or custom) in order for it to apply. */
  --font_content: "Nunito"; /* for paragraphs don't forget to write the font name (google or custom) in order for it to apply. */

  /* NAV BAR  */
  /* Primary (the one with the user menu)  */
  --header_background: #ffffff; /* color of the primary navbar */
  --header_search_background: #f0f0f0; /* color of the search box */
  --header_search_button_background: var(
    --primary
  ); /* color of the button containing the magnifying glass icon */
  --header_search_button_color: #ffffff; /* color of the magnifying glass icon */
  --header_color: var(--primary); /* font color for the primary navbar */
  --header_padding: 2rem 1rem; /* header height */

  /* Secondary (the one with the tabs)  */
  --header_navbar_background: var(
    --primary
  ); /* color of the secondary navbar */
  --header_navbar_border: var(
    --secondary
  ); /* color of the top border when selected */
  --header_secondary_color: #ffffff; /* font color for the secondary navbar */

  /* FOOTER */
  /* Links bar (containing all the links to static pages) */
  --footer_background: #ffffff; /* color of the 1st part of the footer */
  --footer_color: var(
    --primary
  ); /* font color for the 1st part of the footer */

  /* Mini footer (with the decidim credit) */
  --footer_mini_background: var(
    --primary
  ); /* color of the 2nd part of the footer */
  --mini_footer_color: #ffffff; /* font color for the 2nd part of the footer */
  --credits_filter_color: /*invert(22%) sepia(6%) saturate(362%) hue-rotate(263deg) brightness(40%) contrast(94%)*/ ; /* Color of the creative commons logo and decidim logo. When using a light color for the background uncomment the variable to change the color of the icons   */

  /* BUTTONS  */
  --button_radius: 20px; /* Button shape > 0 round, 0 = rectangular */

  /* CARDS  */
  --card_border: unset;
  --card_radius: 10px; /* Card shape > 0 round, 0 = rectangular */
  --card_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --card_color: #ffffff; /* background color for cards /!\ leave white /!\ */
  --card_footer_background: rgba(
    var(--secondary-rgb),
    0.125
  ); /* background color for the bottom part for card containing the "vote" / "view proposal" button */
  --card_top_background: #f0f0f0; /* background color for the top part of the card, this part is displayed on the /search page*/
  --card_border_bottom_color: var(--secondary) solid 3px; /* adds a color bar to the bottom of all cards */

  /* LINKS */
  --link_color: var(--secondary); /* font color for all links */
  --link_underline: underline; /* replace "none" with "underline" to have all links underlined on mouse hover */

  /* STATS */
  --stats_text_shadow: 3px 2px 0px var(--secondary); /* shadow of the stats numbers */
  --process_stats_separator_color: var(
    --secondary
  ); /* color of the bar between numbers at the bottom of the process page */

  /* HOMEPAGE */
  --icon_color: var(
    --primary
  ); /* colors for the icon in the "How to participate"homepage section */
  --homepage_section_background_color: rgba(
    var(--primary-rgb),
    0.125
  ); /* background color of every n+2 section on the homepage */
  --homepage_stats_border_color: rgba(
    var(--secondary-rgb),
    0.125
  ); /* color of the slim line seperating the blocks  */
}
