/* bitter-regular - latin */
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    src: url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Bitter Regular'), local('Bitter-Regular'),
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-regular.svg#Bitter') format('svg'); /* Legacy iOS */
  }
  /* bitter-700 - latin */
  @font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    src: url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Bitter Bold'), local('Bitter-Bold'),
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-700.woff') format('woff'), /* Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-700.svg#Bitter') format('svg'); /* Legacy iOS */
  }
  /* bitter-italic - latin */
  @font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 400;
    src: url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Bitter Italic'), local('Bitter-Italic'),
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://templates.opensourcepolitics.net/fonts/bitter/bitter-v13-latin-italic.svg#Bitter') format('svg'); /* Legacy iOS */
  }
  