/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'),
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900.woff') format('woff'), /* Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-900italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900italic.woff') format('woff'), /* Modern Browsers */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://templates.opensourcepolitics.net/fonts/roboto/roboto-v18-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }