@font-face {
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Bold.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Bold.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Bold.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Bold.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Bold.svg#Marianne-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Thin.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Thin.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Thin.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Thin.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Thin.svg#Marianne-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Light.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Light.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Light.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Light.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Light.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Light.svg#Marianne-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Medium.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Medium.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Medium.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Medium.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Medium.svg#Marianne-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Regular.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Regular.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Regular.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Regular.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-Regular.svg#Marianne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-ExtraBold.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-ExtraBold.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-ExtraBold.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-ExtraBold.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/Marianne2/Marianne-ExtraBold.svg#Marianne-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

