@font-face
{
    font-family: 'Marianne-Bold';
    src: url('https://templates.opensourcepolitics.net/fonts/marianne/Marianne-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}
@font-face
{
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/marianne/Marianne-ExtraBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face
{
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/marianne/Marianne-Light.otf') format('otf');
    font-weight: 200;
    font-style: normal;
}

@font-face
{
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/marianne/Marianne-Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face
{
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/marianne/Marianne-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Marianne';
    src: url('https://templates.opensourcepolitics.net/fonts/marianne/Marianne-Thin.otf') format('otf');
    font-weight: 100;
    font-style: normal;
}
