<style type="text/css" media="screen">
    .title-bar {
        background: #FFF;
    }
    .topbar__menu button {
        color: #000;
    }
    .topbar__user__login a {
    color: #C3002F;
    }
    .topbar__dropmenu .dropdown>li>a {
    color:#000;
    }
    .topbar__dropmenu>ul>li>a:after {
    border-top-color: #000 !important;
    }
    
    .button {
        background: #E20037;
    }
    .button.hollow {
        border: 1px solid #E20037;
        color : #E20037;
    }
    .main-nav__link--active a{
        box-shadow: inset 0 4px 0 0 #E20037;
    }
    
    .logo-cityhall {
      position: absolute!important;
      z-index: 1!important;
      right: 0!important;
      top: 50%!important;
      text-align: right!important;
      margin-top: -19px!important;
      margin-right: 19px !important;
    }
    
    .logo-wrapper {
      border-left-color: white;
    }
    
    .logo-wrapper  span {
        color: #000 !important;
      }
    
    .nav.main-nav li:nth-child(3) {
    display: none;
    }
    .topbar__notifications .icon {
    fill: #000;
    }
    .topbar__conversations .icon {
    fill: #000!important;
    }
    .voting-rules {display:none;}
    </style>
    
    
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107192337-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
    
      gtag('config', 'UA-107192337-1');
    </script>
    
    
    
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
    <!-- Debut - Obligation CNIL -->
    _paq.push([function() {
        var self = this;
        function getOriginalVisitorCookieTimeout() {
            var now = new Date(),
            nowTs = Math.round(now.getTime() / 1000),
            visitorInfo = self.getVisitorInfo();
            var createTs = parseInt(visitorInfo[2]);
            var cookieTimeout = 33696000; // 13 mois en secondes
            var originalTimeout = createTs + cookieTimeout - nowTs;
            return originalTimeout;
        }
        this.setVisitorCookieTimeout( getOriginalVisitorCookieTimeout() );
    }]);
    <!-- Fin - Obligation CNIL -->
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDoNotTrack",  true]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://argus.osp.cat/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '29']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    
    