@font-face {
    font-family: 'Luciole';
    src: url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular.svg#Luciole-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-BoldItalic.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-BoldItalic.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-BoldItalic.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-BoldItalic.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-BoldItalic.svg#Luciole-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Bold.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Bold.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Bold.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Bold.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Bold.svg#Luciole-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Italic.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Italic.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Italic.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Italic.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Italic.svg#Luciole-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular_1.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular_1.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular_1.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular_1.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/luciole/Luciole-Regular_1.svg#Luciole-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
