/*-- INSTITUTIONNEL THEME --*/
  /* -- VARIABLES -- */
  /* Change the variable values to customize your theme  */
  /* In Decidim admin you can select colors for your organization. You can pass these colors as variable values below by writing "var(--primary);" or "var(--secondary);" */
  :root {
    --button_radius: 2px;
    --button_primary_hover_background: #0000b7;
    --button_secondary_hover_background: #e8e8e8;
    --button_secondary_hover_color: #0000b7;

    --card_border: solid 0px #f9f8f6;
    --card_radius: 0;
    --card_shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    --card_background: #f9f8f6;
    --card_background_hover: rgba(224,219,208,0.5);
    
    --font_title: 'Marianne';
    --font_content: 'Marianne';
    
    --footer_background: var(--primary);
    --footer_color: #ffffff;
    --footer_mini_background: #1e1e1e;
    
    --header_background: #ffffff;
    --header_search_background: #f0f0f0;
    --header_search_button_background: var(--primary);
    --header_search_button_color: #ffffff;
    --header_color: var(--primary);

    --header_navbar_background: #ffffff;
    --header_navbar_color: var(--primary);
    --header_navbar_border: var(--primary);
    
    --link_color: var(--primary);
    --link_underline: none;
}
