
/* -- FONT -- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -- VARIABLES -- */
/* Change the variable values to customize your theme  */
/* In Decidim admin you can select colors for your organization. You can pass these colors as variable values below by writing "var(--primary);" or "var(--secondary);" */
:root {
    /* FONTS */
    --font_title: 'Montserrat'; /* for titles (h1, h2 etc.) don't forget to write the font name (google or custom) in order for it to apply. */
    --font_content: 'Montserrat'; /* for paragraphs don't forget to write the font name (google or custom) in order for it to apply. */

    /* NAV BAR  */
    /* Primary (the one with the user menu)  */
    --header_background: #ffffff; /* color of the primary navbar */
    --header_search_background: #f0f0f0; /* color of the search box */
    --header_search_button_background: #3d393c; /* color of the button containing the magnifying glass icon */
    --header_search_button_color: #ffffff; /* color of the magnifying glass icon */
    --header_color: #3d393c; /* font color for the primary navbar */
    --header_padding: 2rem 1rem; /* header height */

    /* Secondary (the one with the tabs)  */
    --header_navbar_background: #f0f0f0; /* color of the secondary navbar */
    --header_navbar_border: #3d393c; /* color of the top border when selected */
    --header_secondary_color: #3d393c; /* font color for the secondary navbar */

    /* FOOTER */
    /* Links bar (containing all the links to static pages) */
    --footer_background: #ffffff; /* color of the 1st part of the footer */
    --footer_color: #3d393c; /* font color for the 1st part of the footer */

    /* Mini footer (with the decidim credit) */
    --footer_mini_background: #f0f0f0; /* color of the 2nd part of the footer */
    --mini_footer_color: #3d393c; /* font color for the 2nd part of the footer */
    --credits_filter_color: invert(22%) sepia(6%) saturate(362%) hue-rotate(263deg) brightness(40%) contrast(94%); /* Color of the creative commons logo and decidim logo. When using a light color for the background uncomment the variable to change the color of the icons   */

    /* BUTTONS  */
    --button_radius: 0px; /* Button shape > 0 round, 0 = rectangular */

    /* CARDS  */
    --card_border: 0px;
    --card_radius: 0px; /* Card shape > 0 round, 0 = rectangular */
    --card_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --card_color: #ffffff; /* background color for cards /!\ leave white /!\ */
    --card_footer_background: #ffffff; /* background color for the bottom part for card containing the "vote" / "view proposal" button */
    --card_top_background: #ffffff; /* background color for the top part of the card, this part is displayed on the /search page*/
    --card_border_bottom_color: var(--primary) solid 3px; /* adds a color bar to the bottom of all cards */

    /* LINKS */
    --link_color: var(--primary); /* font color for all links */
    --link_underline: underline; /* replace "none" with "underline" to have all links underlined on mouse hover */

    /* STATS */
    --stats_text_shadow: ; /* shadow of the stats numbers */
    --process_stats_separator_color : var(--secondary); /* color of the bar between numbers at the bottom of the process page */


    /* HOMEPAGE */
    --icon_color: var(--primary); /* colors for the icon in the "How to participate"homepage section */
    --homepage_section_background_color: ; /* background color of every n+2 section on the homepage */
    --homepage_stats_border_color: #e8e8e8; /* color of the slim line seperating the blocks  */

}
