<style type="text/css" media="screen">

    .hero::after{opacity:0;}
    .process-header__main::after{opacity:0.2;}
    .highligted-content-banner::after{opacity:0.2;}

    .hero-cta.button.expanded.large.button--sc {
        background-color: #ff3333;
        color: white;
    }
    .hero-cta.button.expanded.large.button--sc:hover {
        background-color: #f16d03;
        color: white;
    }
    .button {
        background-color: #ff3333;
        color: white;
    }
    .button:hover {
        background-color: #f16d03;
        color: white;
    }
    .button.hollow {
        border: 1px solid #ff3333;
        color: #ff3333;
    }
    .button.hollow:hover {
        border: 1px solid #f16d03;
        color: #f16d03;
    }
    .card__button.button.small.secondary {
        background-color: #ff3333;
        color: white;
    }
    .card__button.button.small.secondary:hover {
        background-color: #f16d03;
        color: white;
    }
    .button.tiny.hollow {
        border: 1px solid #ff3333;
        color: #ff3333;
    }
    .button.tiny.hollow:hover {
        border: 1px solid #f16d03;
        color: #f16d03;
        opacity: 1;
    }
    .button.secondary.small.hollow.card__button {
        border: none;
        background-color: #ff3333;
        color: white;
    }
    .button.secondary.small.hollow.card__button:hover {
        border: none;
        background-color: #f16d03;
        color: white;
    }
    .footer-nav li:nth-child(4){display: none;}
    .budget-list__data {flex-basis: 17rem;}
    #participatory-space-filters{display:none;}
</style>

<!--Disable Decidim's default cookie banner-->
<style type="text/css" media="screen">
    .cookie-warning { display: none; }
</style>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var cookiebanner_decidim = document.querySelector('.cookie-warning');
        if (cookiebanner_decidim != undefined && cookiebanner_decidim != null) {
            cookiebanner_decidim.parentElement.removeChild(cookiebanner_decidim);
        }
    });
</script>
<!--End Disable Decidim's default cookie banner-->

<!--Tarte Au Citron-->
<script src="https://tarteaucitron.io/load.js?domain=atelierdevosidees.loiret.fr&uuid=591090037b3bd26934cd5b622f39084ab72e9b05"></script>
<!--End Tarte Au Citron-->
