<style type="text/css" media="screen"> /*GENERAL*/ .hero::after{background-color: #000;opacity: 0.2} .floating-helper-container {display: none;} .topbar__notifications .icon {color : #E4156A;} .process-header__main::after{background-color: #000;opacity: 0.0} /*NAVBAR BLANCHE*/ .title-bar{background : white;} .topbar__dropmenu>ul>li>a{color : #000000;} .topbar__conversations .icon {color :#000000} .topbar__edit__link a{color : #000000;} .topbar__user__login a{color :#000000;} .topbar__notifications .icon, .topbar__conversations .icon {fill: #000000;} .topbar__menu button{color : #000000;} /*SECONDARY NAVBAR*/ .navbar {background:#F2F2F2;} .main-nav__link a {color:#000000;} .main-nav__link active{color: #000000} .main-nav__link a:hover{color: #000000;} /*SEARCH BAR*/ .topbar__search input{background:#F2F2F2;} .topbar__search input:focus{background:#F2F2F2;} .topbar__search svg{color: #000000} .topbar__search form{color: #000000} .topbar__search input:active{color:#000000;} .topbar__search input#term.m-none{color:#000000;} .topbar__search ::placeholder{color: #000000} .topbar__search input:active{color:#000000;} .topbar__search :hover svg{color: #000000} .topbar__search:hover button {background: #F2F2F2;} .topbar__search:not(:focus) button {background: #F20FB6;} /*FOOTER*/ .main-footer {background-color:#F2F2F2;} .footer-nav a{color: #000000;} .mini-footer {background-color: #F2F2F2;} .mini-footer .row .mf-text {color: #000000;} .mini-footer .row .mf-text a {color: #000000}; .mini-footer .row .mf-text a {color: #000000}; .main-footer__link:hover { color: #000000; } .main__footer__nav a:active {color: #000000} .main__footer__nav a:hover {color: #000000} .mini-footer .row .mf-text a:hover {color: black;} .decidim-logo, .cc-badge {filter: brightness(0);} /*PARTICIPATORY SPACES*/ .section#assemblies-chart{display: none;} #participatory-space-filters{display:none;} #assemblies-filter{display:none;} #parent-assemblies {display: none;} /*TEST*/ .off-canvas .close-button{ background-color: #2c2930; } .hide-for-medium .topbar__user__login a { color:#FFFFFF!important; } </style> 
<style type="text/css" media="screen"> /*GENERAL*/ .hero::after{background-color: #000;opacity: 0.2} .floating-helper-container {display: none;} .topbar__notifications .icon {color : #E2186A;} .process-header__main::after{background-color: #000;opacity: 0.0} /*NAVBAR BLANCHE*/ .title-bar{background : white;} .topbar__dropmenu>ul>li>a{color : #000000;} .topbar__conversations .icon {color :#000000} .topbar__edit__link a{color : #000000;} .topbar__user__login a{color :#000000;} .topbar__notifications .icon, .topbar__conversations .icon {fill: #000000;} .topbar__menu button{color : #000000;} /*SECONDARY NAVBAR*/ .navbar {background:#F2F2F2;} .main-nav__link a {color:#000000;} .main-nav__link active{color: #000000} .main-nav__link a:hover{color: #000000;} /*SEARCH BAR*/ .topbar__search input{background:#F2F2F2;} .topbar__search input:focus{background:#F2F2F2;} .topbar__search svg{color: #000000} .topbar__search form{color: #000000} .topbar__search input:active{color:#000000;} .topbar__search input#term.m-none{color:#000000;} .topbar__search ::placeholder{color: #000000} .topbar__search input:active{color:#000000;} .topbar__search :hover svg{color: #000000} .topbar__search:hover button {background: #F2F2F2;} .topbar__search:not(:focus) button {background: #E4156A;} /*FOOTER*/ .main-footer {background-color:#F2F2F2;} .footer-nav a{color: #000000;} .mini-footer {background-color: #F2F2F2;} .mini-footer .row .mf-text {color: #000000;} .mini-footer .row .mf-text a {color: #000000}; .mini-footer .row .mf-text a {color: #000000}; .main-footer__link:hover { color: #000000; } .main__footer__nav a:active {color: #000000} .main__footer__nav a:hover {color: #000000} .mini-footer .row .mf-text a:hover {color: black;} .decidim-logo, .cc-badge {filter: brightness(0);} /*PARTICIPATORY SPACES*/ .section#assemblies-chart{display: none;} #participatory-space-filters{display:none;} #assemblies-filter{display:none;} #parent-assemblies {display: none;} /*TEST*/ .off-canvas .close-button{ background-color: #2c2930; } .hide-for-medium .topbar__user__login a { color:#FFFFFF!important; } </style>

<!--Disable Decidim's default cookie banner-->
<style type="text/css" media="screen">
  .cookie-warning { display: none; }
</style>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var cookiebanner_decidim = document.querySelector('.cookie-warning');
    if (cookiebanner_decidim != undefined && cookiebanner_decidim != null) {
      cookiebanner_decidim.parentElement.removeChild(cookiebanner_decidim);
    }
  });
</script>
<!--End Disable Decidim's default cookie banner-->

<!--Tarte Au citron-->
<script src="https://tarteaucitron.io/load.js?domain=le14participe.paris&uuid=591090037b3bd26934cd5b622f39084ab72e9b05"></script>

<!--End Tarte Au citron-->