<!-- Template Main  -->

<!-- GOOGLE FONTS --->
<!-- Go to https://fonts.google.com/ and copy paste the <link> section it provides for the font you want to import  --->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<!-- CUSTOM FONT --->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/fonts/Mayenne/_fontface.css">
<!-- WEB ANIMATIONS 
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://templates.opensourcepolitics.net/templates/main/animations_main.js"></script>
-->
<!-- TEMPLATE CSS -->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/templates/main/template_main.css">
<!-- CSSVariables --->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/clients/Paris14/Paris14.css">
<script src="https://templates.opensourcepolitics.net/clients/Paris14/Paris14.js"></script>
<!-- Tarte au citron -->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/templates/tarteaucitron.css">
<script src="https://templates.opensourcepolitics.net/templates/disable_decidim_cookies.js"></script>
<script src="https://tarteaucitron.io/load.js?domain=le14participe.paris&uuid=591090037b3bd26934cd5b622f39084ab72e9b05"></script>