<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-ML2GDBT');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ML2GDBT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '468281387935716');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src=https://www.facebook.com/tr?id=468281387935716&ev=PageView&noscript=1
    /></noscript>
    <!-- End Facebook Pixel Code -->
    
    <!--Disable Decidim's Orejime cookie banner-->
    <style type="text/css" media="screen">
      .orejime-AppContainer { display: none; }
    </style>
    <script type="text/javascript">
      $(document).ready(function() {
        const orejime_instance = document.querySelector('#orejime');
        orejime_instance.parentElement.removeChild(orejime_instance);
      });
    </script>
    <!--End disable Decidim's Orejime cookie banner-->
    
    <script type="text/javascript" src="https://tarteaucitron.io/load.js?domain=participez.villeurbanne.fr&uuid=591090037b3bd26934cd5b622f39084ab72e9b05"></script>
    
    <style type="text/css" media="screen">
    
    section.footer__subhero{display: none !important;}
    .topbar__user__login a:hover{color:#F39E19}
    .process-header__main::after{opacity:0;}
    .hero::after{background-color: rgba(0,0,0,0);}
    
    </style>