<!-- Matomo -->
<script async>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.e-mrs.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '58']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

<!-- GOOGLE FONTS --->
<!-- Go to https://fonts.google.com/ and copy paste the <link> section it provides for the font you want to import  --->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- CUSTOM FONT --->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/fonts/[font-name]/_fontface.css">

<!-- WEB ANIMATIONS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://templates.opensourcepolitics.net/templates/demo/animations_demo.js"></script>

<!-- TEMPLATE CSS -->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/templates/demo/template_demo.css">
<!-- CSSVariables --->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/clients/marseille/marseille.css">
<script src="https://templates.opensourcepolitics.net/clients/marseille/marseille.js"></script>

<!-- Tarte au citron -->
<link rel="stylesheet" href="https://templates.opensourcepolitics.net/templates/tarteaucitron.css">
<script src="https://templates.opensourcepolitics.net/templates/disable_decidim_cookies.js"></script>
<script src="https://tarteaucitron.io/load.js?domain=marseille.osp.cat&uuid=591090037b3bd26934cd5b622f39084ab72e9b05"></script>


<script>
  document.addEventListener('DOMContentLoaded', function() {

    $(".edit_proposal #proposal_add_documents").attr("accept", "doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf");

    $(".edit_proposal #proposal_add_documents").on("change", function(e) {
      e.preventDefault();

      var ext = e.target.value.match(/\.([^\.]+)$/)[1];
      switch (ext) {
        case 'jpg':
        case 'jpeg':
        case 'bmp':
        case 'png':
        case 'heif':
        case 'heic':
        case 'webp':
        case 'gif':
        case 'tif':
          e.target.value = '';
          break;
        default:
          break;
      }
    });

    if ($('.voting-booth-banner').length) {
      const labelsToHide = ["Culture", "Nature en ville", "Solidarité et entraide", "Sport"];

      $('label').each(function() {
        var text = $(this).text().trim();
        if (labelsToHide.includes(text)) {
          $(this).hide();
        }
      });
    }

    $('.tags--project li a').each(function() {
      $(this).attr('href', '#')
        .addClass('disabled')
        .css({
          'cursor': 'default',
          'text-decoration': 'none'
        })
        .on('click', function(e) {
          e.preventDefault();
        });
    });
  });
</script>