<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:ital,wght@1,600;1,700&display=swap" rel="stylesheet">
<!-- WEB ANIMATIONS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://templates.opensourcepolitics.net/templates/instit/animations_instit.js"></script>

<style>
/*-- INSTITUTIONNEL THEME --*/
  /* -- VARIABLES -- */
  /* Change the variable values to customize your theme  */
  /* In Decidim admin you can select colors for your organization. You can pass these colors as variable values below by writing "var(--primary);" or "var(--secondary);" */
  :root {
    /* FONTS */
    --font_title: 'Lato'; /* for titles (h1, h2 etc.) don't forget to write the font name (google or custom) in order for it to apply. */
    --font_content: 'Lato'; /* for paragraphs don't forget to write the font name (google or custom) in order for it to apply. */

    /* NAV BAR  */
    /* Primary (the one with the user menu)  */
    --header_background: #ffffff; /* color of the primary navbar */
    --header_search_background: #e2ebf1; /* color of the search box */
    --header_search_button_background: #092353; /* color of the button containing the magnifying glass icon */
    --header_search_button_color: #ffffff; /* color of the magnifying glass icon */
    --header_color: #3d393c; /* font color for the primary navbar */
    --header_padding: 2rem 1rem; /* header height */

    /* Secondary (the one with the tabs)  */
    --header_navbar_background: #e2ebf1; /* color of the secondary navbar */
    --header_navbar_border: #3d393c; /* color of the top border when selected */
    --header_secondary_color: #092353; /* font color for the secondary navbar */

    /* FOOTER */
    /* Links bar (containing all the links to static pages) */
    --footer_background: #086c8f; /* color of the 1st part of the footer */
    --footer_color: #ffffff; /* font color for the 1st part of the footer */

    /* Mini footer (with the decidim credit) */
    --footer_mini_background: #092353; /* color of the 2nd part of the footer */
    --mini_footer_color: #ffffff; /* font color for the 2nd part of the footer */
    --credits_filter_color: invert(22%) sepia(6%) saturate(362%) hue-rotate(263deg) brightness(40%) contrast(94%); /* Color of the creative commons logo and decidim logo. When using a light color for the background uncomment the variable to change the color of the icons   */

    /* BUTTONS  */
    --button_radius: 0px; /* Button shape > 0 round, 0 = rectangular */
    --button_primary_hover_background: #e94740; /* color of the 2nd part of the footer */
    --button_secondary_hover_background: #e94740; /* color of the 2nd part of the footer */

    /* CARDS  */
    --card_border: 0px;
    --card_radius: 0px; /* Card shape > 0 round, 0 = rectangular */
    --card_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --card_color: #ffffff; /* background color for cards /!\ leave white /!\ */
    --card_footer_background: #ffffff; /* background color for the bottom part for card containing the "vote" / "view proposal" button */
    --card_top_background: #ffffff; /* background color for the top part of the card, this part is displayed on the /search page*/
    --card_border_bottom_color: var(--primary) solid 3px; /* adds a color bar to the bottom of all cards */

    /* LINKS */
    --link_color: var(--primary); /* font color for all links */
    --link_underline: underline; /* replace "none" with "underline" to have all links underlined on mouse hover */

    /* STATS */
    --stats_text_shadow: ; /* shadow of the stats numbers */
    --process_stats_separator_color : var(--secondary); /* color of the bar between numbers at the bottom of the process page */


    /* HOMEPAGE */
    --icon_color: var(--primary); /* colors for the icon in the "How to participate"homepage section */
    --homepage_section_background_color: #c6dff5; /* background color of every n+2 section on the homepage */
    --homepage_stats_border_color: #e8e8e8; /* color of the slim line seperating the blocks  */

}
</style>
<style>
/* GLOBAL */
.home-section:nth-of-type(2n + 1) {
    background-color: #f6f8fc;
}
/* FONTS */
body {
    font-family: var(--font_content);
    font-weight: normal;
}

.logo-wrapper {
    font-family: var(--font_title);
    font-weight: bold;
}

.logo-wrapper img {
    transform: scale(1.2);
    transform-origin: left;
}

.main-nav {
    font-family: var(--font_title);
    font-weight: bold;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.heading4 {
    font-family: var(--font_title);
    font-weight: bold;

}

.footer__subhero {
    font-family: var(--font_content);
}

.card__title,
.home-pam__title {
    font-family: var(--font_content);
    font-weight: bold;
}

.home-pam__number {
    font-family: var(--font_title);
    font-weight: bold;
}

.footer__subhero {
    font-family: var(--font_content);
}

/* HEADER */
.title-bar {
    background-color: var(--header_background);
}

.topbar__search input {
    background-color: var(--header_search_background);
    box-shadow: inset 0 -2px 0 0 var(--header_search_button_background);
    border: 0;
    border-radius: 4px 0 0 0;
}

.topbar__user__login a {
    color: var(--primary);
}

@media (max-width: 600px) {
    .topbar__user__login a,
    .topbar__user__login a:hover,
    .topbar__user__login a:focus {
        color: #ffffff;
    }
}

.logo-wrapper span,
.topbar__dropmenu > ul > li > a,
.topbar__admin__link a,
.dropdown.menu > li.is-active > a,
.topbar__admin__link a:hover {
    color: var(--header_color);
}

.logo-wrapper span::before {
    border-left: 4px solid var(--header_color);
}

.topbar__dropmenu > ul > li > a::after {
    border-top-color: var(--header_color) !important;
}

.topbar__notifications .icon, .topbar__conversations .icon {
    fill: var(--header_color);
    opacity: 1;
}

.topbar__search:not(:focus-within) button {
    background: var(--header_search_button_background);
    color: var(--header_search_button_color);
    border-radius: 0 4px 0 0;
}

.topbar__search:focus-within input {
    background-color: var(--header_search_background);
    box-shadow: inset 0 -2px 0 0 var(--primary);
    border: 0;
    border-radius: 4px 0 0 0;
}

.main-nav ul {
    display: block;
    font-size: 14px;
    font-weight: 500;
}

li.main-nav__link a {
    color: #1e1e1e;
}

.main-nav__link.main-nav__link--active a {
    color: var(--primary);
}

.navbar {
    background-color: var(--header_navbar_background);
    border-top: solid 1px #efefef;
    box-shadow: 0 8px 8px 0 rgb(0 0 0 / 10%), 0 8px 16px -16px rgb(0 0 0 / 32%);
}

.main-nav__link--active a {
    box-shadow: inset 0 -4px 0 0 var(--header_navbar_border);
}

input#term::placeholder {
    color: #1e1e1e;
    font-style: italic;
}

.main-nav__link a,
.main-nav__link a:hover,
.main-nav__link a:focus {
    color: var(--header_navbar_color);
}

.topbar__dropmenu.language-choose,
a.sign-in-link,
a.sign-up-link {
    font-size: .875rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: .25rem .75rem;
    border-radius: 0;
    font-weight: 400;
}

.topbar__dropmenu.language-choose:hover,
a.sign-in-link:hover,
a.sign-up-link:hover {
    background-color: hsla(0,0%,87.8%,0.5);
}

a#language-chooser-control {
    padding-top: 4px;
    padding-bottom: 4px;
}


@media print, screen and (min-width: 40em) {
    .topbar__user,
    .topbar__user__login a {
        margin-left: 7px;
    }
}

.topbar__user__login.js-append {
    display: flex;
}

.sign-up-link {
    display: flex;
    align-items: center;
}

.topbar__dropmenu.language-choose:after,
a.sign-up-link:after {
    display: block;
    content: "";
    position: relative;
    right: -1rem;
    width: 1px;
    height: 1rem;
    background-color: #cecece;
}

/* SEARCH */
input[type='search']:focus,
input[type='search'] {
    background-color: var(--header_search_background);
    box-shadow: inset 0 -2px 0 0 var(--primary);
    border: 0;
    border-radius: 4px 0 0 0 !important;
    height: 40px;
}

.input-group-button button[type='submit'].button {
    margin: 0;
    border-radius: 0 4px 0 0;
}

input[type='search']::placeholder {
    color: #1e1e1e;
    font-style: italic;
}

/* CARDS */
.card,
.comment-thread,
.message,
.add-message,
.conference-speaker .speaker-bio,
.conference-registration,
.chart-tooltip {
    border: var(--card_border);
    background: var(--card_background);
    box-shadow: var(--card_shadow);
    border-radius: var(--card_radius);
}

.card--hover:hover {
    /* transform: scale(1.05) !important; */
    background-color: var(--card_background_hover);
}

#assemblies-grid .card--hover:hover {
    background-color: unset;
}

.card__support {
    background-color: var(--card_background);
}

.card--proposal .card__support {
    border-radius: 0 0 var(--card_radius) var(--card_radius);
}

.card--list__data {
    background-color: var(--card_background_hover);
}

.card__label {
    display: none;
}

/* CONCERTATION - SUIVI */
.accountability .categories .categories--group .card__link .category--line {
    background-color: #f2f2f9;
}

.accountability .categories .categories--group .card__link .category--line strong {
    color: #000000;
}

.category--title,
.accountability .intro .progress-level {
    background: var(--card_background) !important;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%), 0 8px 16px -16px rgb(0 0 0 / 32%);
}

/* BUTTONS */
.button {
    border-radius: var(--button_radius);
}

.button.hover, .button:hover {
    background-color: var(--button_primary_hover_background);
    filter: brightness(1);
}

.button--shadow.secondary {
    background-color: var(--secondary);
}

.button.hollow.hover,
.button.hollow:hover,
.button.hollow.focus,
.button.hollow:focus {
    background-color: var(--button_secondary_hover_background);
    border-color: var(--button_secondary_hover_color);
    color: var(--button_secondary_hover_color);
}

.subhero-cta {
    color: var(--secondary) !important;
}

.extra .follow-button {
    margin-top: 0;
}

/* LINKS */
span.card__title.card__link,
h2.card__title {
    color: #000000;
}

span.card__title.card__link:hover,
h2.card__title:hover {
    text-decoration: none !important;
}

a:hover,
a:focus {
    color: var(--primary);
    text-decoration: none !important;
}

a,
.link,
.link:hover,
.link-alt,
.link-alt:hover,
.muted-link:hover,
.card__link,
.card__link:hover,
.topbar__dropmenu .is-dropdown-submenu li a,
.topbar__notifications__item strong,
.topbar__notifications__item--more,
.side-panel__tabs .tabs-title>[role=tab]:hover,
.side-panel__tabs .tabs-title>a:hover,
.side-panel__tabs .tabs-title.is-active>[role=tab],
.side-panel__tabs .tabs-title.is-active>a,
.static-nav a:hover,
.flag li a,
.author-data .author__name,
.order-by__tab.is-active,
.input__tag span,
.mentions__container .tribute-container,
.hashtags__container .tribute-container,
#profile-tabs.tabs .tabs-title a,
.inline-filters button[data-toggle],
.conference-programme .programme-title,
.conference-media .media-links li,
.results-per-page__tab.is-active,
.results-per-page__tab.is-active,
.comment__reply.muted-link,
.comment__reply[data-toggle].muted-link,
.dropdown.menu>li.is-active>a .accountability .categories .categories--group .card__link .category--line strong,
.initiative-types-select option {
    color: var(--link_color);
}

.pagination .current,
.comment__votes button:focus,
.add-comment a:focus,
.unread_message__counter,
.opinion-toggle--meh:hover,
.opinion-toggle--meh:focus,
.opinion-toggle--meh.is-active,
.help .icon:hover,
.help-tooltip,
.card--list__titled-text .card--list__counter,
.card--list__author .card--list__counter {
    background: var(--link_color);
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right>a::after,
.drilldown.align-left .is-drilldown-submenu-parent>a::after,
.drilldown.align-right .is-drilldown-submenu-parent>a::after,
.dropdown.menu.smallmedium-vertical>li.opens-right>a::after,
.dropdown.menu.mediumlarge-vertical>li.opens-right>a::after,
.dropdown.menu.medium-vertical>li.opens-right>a::after,
.dropdown.menu.large-vertical>li.opens-right>a::after,
.dropdown.menu.vertical>li.opens-right>a::after {
    border-color: transparent transparent transparent var(--link_color);
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after,
.dropdown.menu.smallmedium-horizontal>li.is-dropdown-submenu-parent>a::after,
.dropdown.menu.mediumlarge-horizontal>li.is-dropdown-submenu-parent>a::after,
.dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a::after,
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
    border-color: var(--link_color) transparent transparent;
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left>a::after,
.dropdown.menu.vertical>li.opens-left>a::after,
.dropdown.menu.smallmedium-vertical>li.opens-left>a::after,
.dropdown.menu.mediumlarge-vertical>li.opens-left>a::after,
.dropdown.menu.large-vertical>li.opens-left>a::after,
.dropdown.menu.medium-vertical>li.opens-left>a::after {
    border-color: transparent var(--link_color) transparent transparent;
}

.card--list__icon,
.card--list__data__icon:hover .icon,
.card--list__data__icon--lg:hover .icon,
.orgchart .as-text,
.budget-list__data__icon:hover .icon,
.result-view .title .icon {
    fill: var(--link_color);
}

.lines-breadcrumb a:focus {
    outline: var(--link_color);
}


/* LINK UNDERLINE */
/* a:hover, a.card__title:hover, a .card__title:hover, .card__link:hover {
    text-decoration: var(--link_underline);
} */


/* NUMBERS */
.accountability .intro .progress-level .progress-figure {
    color: #3d393c;
    font-weight: 600;
}

.process-stats__data::after {
    border-color: var(--secondary);
}

/* CALLOUT */
.callout {
    background-color: #f0f0f0 !important;
    border-left-color: var(--primary) !important;
}

/* PAGINATION */
ul.pagination li.page {
    border-radius: 500px;
    width: 30px !important;
}

.pagination a:hover,
.pagination button:hover {
    background-color: #e8e8e8;
    color: #3d393c;
    border-radius: 500px;
    min-width: 30px !important;
}

/* FOOTER */
.main-footer {
    background-color: var(--footer_background);
}

.main-footer a,
.mini-footer a {
    color: var(--footer_color);
}

.main-footer a:hover,
.mini-footer a:hover {
    color: #FFFFFE;
    text-decoration: var(--link_underline);
    filter: brightness(.95);
}

.mini-footer {
    background-color: var(--footer_mini_background);
}

/* ICONS */
.home-bullet__icon svg {
    fill: var(--secondary);
}


/* CONCERTATION - BUDGET */
.budget-list__data {
    flex-basis: unset;
    min-width: 212px;
}

/* TAGS */
.tags a {
    border: none;
    background-color: rgba(var(--primary-rgb), 0.025);
    color: var(--primary);
    border-radius: 5px;
    transition: all ease .3s;
}

.tags a:hover {
    filter: brightness(0);
    text-decoration: none;
}

.tags li.active a {
    background-color: var(--primary);
    color: #ffffff;
}

.accountability .scope-filters li.active {
    background-color: transparent;
}

/* INPUTS */
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    color: #1e1e1e;
    background-color: #f0f0f0;
    box-shadow: inset 0 -2px 0 0 #6a6a6a;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    border: none;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}

/* CUSTOS DECIDIM */
svg.icon--menu.icon {
    fill: var(--primary);
}

button.close-button {
    filter: brightness(0) invert(11%) sepia(39%) saturate(7151%) hue-rotate(239deg) brightness(99%) contrast(142%);
}

@media (max-width: 600px) {
    a#language-chooser-control {
        color: #ffffff;
    }

    a#language-chooser-control::after {
        filter: brightness(0) invert(100%);
    }
}

.logo-wrapper img {
    max-height: 100px;
}

@media print, screen and (min-width: 40em) {
    .process-nav ul {
        justify-content: flex-start;
    }
}

button.button.process-nav__more {
    min-width: 82px;
}

button.button.process-nav__more:hover i {
    filter: brightness(0) invert(1);
}
</style>
<script>
function cardAnimation() {
    processes = document.getElementsByClassName('card--process');
    for (let process of processes) {
        process.setAttribute("data-aos", "fade-up");
        process.setAttribute("data-aos-anchor-placement", "top-bottom");
        // process.classList.add("card--hover");
    }

    proposals = document.getElementsByClassName('card--proposal');
    for (let proposal of proposals) {
        proposal.setAttribute("data-aos", "fade-up");
        proposal.setAttribute("data-aos-anchor-placement", "top-bottom");
        // proposal.classList.add("card--hover");
    }

    assemblies = document.getElementsByClassName('card--assembly');
    for (let assembly of assemblies) {
        assembly.setAttribute("data-aos", "fade-up");
        assembly.setAttribute("data-aos-anchor-placement", "top-bottom");
        assembly.classList.add("card--hover");
    }

    activities = document.getElementsByClassName('card--activity');
    for (let activity of activities) {
        activity.setAttribute("data-aos", "fade-up");
        activity.setAttribute("data-aos-anchor-placement", "top-bottom");
        activity.classList.add("card--hover");
    }

    meetings = document.getElementsByClassName('card--meeting');
    for (let meeting of meetings) {
        meeting.setAttribute("data-aos", "fade-up");
        meeting.setAttribute("data-aos-anchor-placement", "top-bottom");
        // meeting.classList.add("card--hover");
    }

    events = document.getElementsByClassName('p-s');
    for (let event of events) {
        card = event.parentElement;
        card.classList.add("card--hover");
        card.setAttribute("data-aos", "fade-up");
        card.setAttribute("data-aos-anchor-placement", "top-bottom");
    }

    flashes = document.getElementsByClassName('flash callout');
    for (let flash of flashes) {
        flash.setAttribute("data-aos", "fade-right");
        flash.setAttribute("data-aos-delay", "500");
    }
}

window.addEventListener("DOMContentLoaded", (event) => {
    cardAnimation();
    AOS.init();
});
</script>

<!--Disable Decidim's default cookie banner-->
<style type="text/css" media="screen">
  .cookie-warning { display: none; }
</style>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var cookiebanner_decidim = document.querySelector('.cookie-warning');
    if (cookiebanner_decidim != undefined && cookiebanner_decidim != null) {
      cookiebanner_decidim.parentElement.removeChild(cookiebanner_decidim);
    }
  });
</script>
<!--End Disable Decidim's default cookie banner-->