@font-face {
    font-family: 'Mayenne Sans';
    src: url('https://templates.opensourcepolitics.net/fonts/Mayenne/MayenneSans-Regular.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/Mayenne/MayenneSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/Mayenne/MayenneSans-Regular.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/Mayenne/MayenneSans-Regular.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/Mayenne/MayenneSans-Regular.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/Mayenne/MayenneSans-Regular.svg#MayenneSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

