@font-face {
    font-family: 'Grtsk Zetta';
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Light.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Light.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Light.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Light.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Light.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Light.svg#GrtskZetta-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk Zetta';
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Semibold.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Semibold.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Semibold.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Semibold.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Semibold.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Semibold.svg#GrtskZetta-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk Peta';
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Medium.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Medium.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Medium.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Medium.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Medium.svg#GrtskPeta-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk Zetta';
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Regular.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Regular.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Regular.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Regular.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Regular.svg#GrtskZetta-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk Peta';
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Bold.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Bold.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Bold.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Bold.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Bold.svg#GrtskPeta-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk Peta';
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Regular.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Regular.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Regular.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Regular.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Regular.svg#GrtskPeta-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk Zetta';
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Bold.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Bold.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Bold.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Bold.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskZetta-Bold.svg#GrtskZetta-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk Peta';
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Semibold.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Semibold.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Semibold.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Semibold.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Semibold.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Semibold.svg#GrtskPeta-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk Peta';
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Italic.eot');
    src: url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Italic.woff2') format('woff2'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Italic.woff') format('woff'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Italic.ttf') format('truetype'),
        url('https://templates.opensourcepolitics.net/fonts/GrtskZetta/GrtskPeta-Italic.svg#GrtskPeta-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

